body {
  width: 800px;
  margin: 0 auto; /* center */

  font-size: 12px;
  color: darkgrey;
  background-color: white;
}

h1.title {
  text-align: center;
  font-size: 48px;
}

ul.options {
  list-style: none;           /* Remove bullets */
  display: flex;              /* Horizontal layout */
  gap: 10px;                  
  padding: 0;
  margin: 20px 0;
}

ul.options li {
  margin: 0;
  padding: 0;
}

ul.options li a {
    display: block;               /* Fill box completely */
    padding: 8px 16px;            /* Inside spacing */
    background-color: blue;  
    color: white;                
    text-decoration: none;        /* Remove underline */
    border: 1px solid black;    /* Black outline */
    border-radius: 4px;           /* Rounded corners */
    font-weight: bold;
    line-height: 1;               /* Remove line-height gaps */
    box-sizing: border-box;       /* Ensure the border fits nicely */
    transition: background-color 0.5s, transform 0.1s;
}

/* Button gets darker when hovered */
ul.options li a:hover {
  background-color: darkblue;
  transform: translateY(-1px);
}

footer {
    margin-top: 40px;
    padding: 8px;

    color: white;
    background-color: black;
    font-size: 10px;
    text-align: right;
}

/* Forms MyForm class */
.myForm label {
  display: inline-block;
  width: 100px;
}

/* Modify text and password fields */
.myForm input[type="text"],
.myForm input[type="password"] {
  width: 400px;
  margin-bottom: 12px;
  display: inline-block;
}